<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Page</title>
</head>
<body>
<p>
    <a th:href="@{/add}">
        Thêm sản phẩm mới
    </a>
</p>
<p>Tìm theo id</p>
<p>
<form action="/byId"><input type="text" name="id">
    <button type="submit">Tìm</button>
</form>
</p>
<div th:if="${msg != null}">
    <p style="color: red" th:text="${msg}"></p>
</div>
<table>
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá (VND)</th>
        <th>Xuất Xứ</th>
        <th>Edit</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productList,loop:${productList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${productList.id}"></td>
        <td th:text="${productList.name}"></td>
        <td th:text="${productList.price}"></td>
        <td th:text="${productList.madeIn}"></td>
        <td><a th:href="@{/editing(id=${productList.id})}">edit</a></td>
        <td><a th:href="@{/viewing(id=${productList.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${productList.number - 1},name=${name})}" th:if="${productList.hasPrevious()}">Previous</a>
    <span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>
    <a th:href="@{'/'(page=${productList.number + 1},name=${name})}" th:if="${productList.hasNext()}">Next</a>
</div>
</body>
</html>