<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Page</title>
</head>
<body>
<a th:href="@{/}">
    Back to Product list
</a>
<form action="/saveCreate" method="post" th:object="${product}">
    <p>Nhập tên</p>
    <input type="text" th:field="*{name}">
    <br>
    <p>Nhập giá</p>
    <input type="text" th:field="*{price}">
    <br>
    <p>Nhập nơi xuất xứ</p>
    <input type="text" th:field="*{madeIn}">
    <br>
    <button type="submit">Lưu</button>
</form>
</body>
</html>